/************************************* O.o *************************************/
/*                                 Page builder                                */
/*******************************************************************************/
.panel-row-style {
  position: relative; }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-1-in-row > .panel-grid-cell {
    width: 100% !important;
    clear: both; }
  .tablet-2-in-row:not([class*=overlay]) > .panel-grid-cell {
    width: 50% !important; }
    .tablet-2-in-row:not([class*=overlay]) > .panel-grid-cell:nth-child(2n+1) {
      clear: left; }
  .tablet-2-in-row[class*=overlay] > .panel-grid-cell {
    width: 50% !important; }
    .tablet-2-in-row[class*=overlay] > .panel-grid-cell:nth-child(2n+2) {
      clear: left; }
  .tablet-3-in-row:not([class*=overlay]) > .panel-grid-cell {
    width: 33.33% !important; }
    .tablet-3-in-row:not([class*=overlay]) > .panel-grid-cell:nth-child(3n+1) {
      clear: left; }
  .tablet-3-in-row[class*=overlay] > .panel-grid-cell {
    width: 33.33% !important; }
    .tablet-3-in-row[class*=overlay] > .panel-grid-cell:nth-child(3n+2) {
      clear: left; }
  .tablet-4-in-row:not([class*=overlay]) > .panel-grid-cell {
    width: 25% !important; }
    .tablet-4-in-row:not([class*=overlay]) > .panel-grid-cell:nth-child(4n+1) {
      clear: left; }
  .tablet-4-in-row[class*=overlay] > .panel-grid-cell {
    width: 25% !important; }
    .tablet-4-in-row[class*=overlay] > .panel-grid-cell:nth-child(4n+2) {
      clear: left; } }

@media (max-width: 767px) {
  .mobile-1-in-row > .panel-grid-cell {
    width: 100% !important;
    clear: both; }
  .mobile-2-in-row > .panel-grid-cell {
    width: 50% !important;
    float: left !important; }
  .mobile-2-in-row:not([class*="overlay"]) > .panel-grid-cell:nth-child(2n+1) {
    clear: left; } }

/* Absolute positioning */
.orion.absolute-bottom {
  position: absolute;
  z-index: 2;
  display: block;
  bottom: 0; }
  .orion.absolute-bottom.absolute-bottom-left {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    left: 0; }
  .orion.absolute-bottom.absolute-bottom-right {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    right: 0; }
  .orion.absolute-bottom.absolute-bottom-center {
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    left: 50%; }
  .orion.absolute-bottom .btn {
    margin-bottom: 0; }
  @media (max-width: 767px) {
    .orion.absolute-bottom.mobile-text-center {
      left: 0;
      max-width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .orion.absolute-bottom.tablets-text-center {
      left: 0;
      max-width: 100%; } }

.siteorigin-panels-stretch .absolute-bottom.absolute-bottom-right {
  right: 30px; }

.siteorigin-panels-stretch .absolute-bottom.absolute-bottom-left {
  left: 30px; }

/* END Absolute positioning */
.overlay-dark:not(.svg-wrap):not(.site-header), .overlay-light:not(.svg-wrap):not(.site-header), .overlay-c1:not(.svg-wrap):not(.site-header), .overlay-c2:not(.svg-wrap):not(.site-header), .overlay-c3:not(.svg-wrap):not(.site-header), .overlay-c1-c2:not(.svg-wrap):not(.site-header), .overlay-c2-c1:not(.svg-wrap):not(.site-header),
.overlay-c1-t:not(.svg-wrap):not(.site-header), .overlay-c2-t:not(.svg-wrap):not(.site-header), .overlay-c3-t:not(.svg-wrap):not(.site-header) {
  position: relative;
  z-index: 0; }

.overlay-light-wrapper, .overlay-dark-wrapper, .overlay-c1-wrapper, .overlay-c2-wrapper, .overlay-c3-wrapper, .overlay-c1-c2-wrapper, .overlay-c2-c1-wrapper,
.overlay-c1-t-wrapper, .overlay-c2-t-wrapper, .overlay-c3-t-wrapper {
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  z-index: -1; }

.overlay-dark-wrapper {
  background: #000;
  opacity: 0.5; }

.overlay-light-wrapper {
  background: #fff;
  opacity: 0.5; }

/* responsive fit */
.responsive-fit.panel-row-style, .page-heading.responsive-fit {
  background-position: center center; }
  @media (min-width: 768px) {
    .responsive-fit.panel-row-style, .page-heading.responsive-fit {
      background-size: cover; } }
  @media (max-width: 767px) {
    .responsive-fit.panel-row-style, .page-heading.responsive-fit {
      background-size: auto 100%; } }

@media (max-width: 991px) {
  .remove-padding-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important; } }

@media (max-width: 767px) {
  .mobile-text-center {
    text-align: center;
    width: 100%; }
    .mobile-text-center a.btn {
      float: none; }
    .mobile-text-center .list-wrap {
      display: inline-block;
      padding-right: 0; } }

@media (max-width: 991px) and (min-width: 768px) {
  .tablets-text-center {
    text-align: center;
    width: 100%; }
    .tablets-text-center a.btn {
      float: none; }
    .tablets-text-center .list-wrap {
      display: inline-block;
      padding-right: 0; } }

/* # widget shadows */
.shadow-1 {
  margin-bottom: 24px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

.shadow-2 {
  position: relative; }

.shadow-2, .shadow-3 {
  background-color: #fff; }

.shadow-2-left-wrap, .shadow-2-right-wrap {
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg); }

.shadow-2-right-wrap {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto; }

.shadow-3 {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.05) inset;
  overflow: visible !important;
  margin-bottom: 0;
  margin-top: 0; }

.shadow-3-left-wrap, .shadow-3-right-wrap {
  content: "";
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px; }

.shadow-3-right-wrap {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg); }

.padding-top-60 {
  padding-top: 60px !important; }

/* back to top button */
.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
  display: block;
  text-align: center;
  transition: opacity .4s ease;
  opacity: 0.8;
  z-index: 200;
  margin-bottom: 24px;
  margin-right: 24px;
  border-radius: 50px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
  .back-to-top:hover {
    opacity: 1; }
  .back-to-top:after {
    line-height: 48px;
    content: '\36';
    position: relative;
    font-family: "ElegantIcons";
    color: #fff;
    text-align: center;
    font-size: 24px; }
  .back-to-top.hideit {
    opacity: 0;
    pointer-events: none; }

@media (min-width: 768px) {
  .orion-parallax.vertical_down, .orion-parallax.vertical_up {
    background-size: 100% auto; }
  .orion-parallax.horizontal_right, .orion-parallax.horizontal_left {
    background-size: auto 100%; } }

.fixed-bg {
  background-attachment: fixed; }

/* row classes */
@media (min-width: 992px) {
  .push-up-60 {
    margin-top: -60px; }
  .push-up-120 {
    margin-top: -120px; }
  .panel-row-style-push-up-60, .panel-row-style-push-up-120 {
    display: inline-block; } }

.panel-grid-cell-empty {
  min-height: 1px; }

@media (max-width: 1199px) {
  .orion-collapse-below-lg {
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
    .orion-collapse-below-lg .panel-grid-cell {
      width: 100% !important; } }

@media (min-width: 992px) {
  .orion-equal-height .panel-cell-style {
    height: auto !important; } }
